version: '3.5'
services:
  slave-db:
    container_name: slave-db
    image: postgres:9.6
    env_file: dev-env
    networks:
      - smi-network
    volumes:
      - pg-data:/var/lib/postgresql/data

  slave-api:
    container_name: slave-api
    image: lappis/smi-slave:0.9
    env_file: dev-env
    command: ["sh", "scripts/start.sh"]
    networks:
      - smi-network
    ports:
      - 8000:8000
    volumes:
      - .:/smi-slave
    depends_on:
      - slave-db

volumes:
  pg-data: {}

networks:
  smi-network:
    name: smi-network
    driver: bridge
